// Place all the styles related to the stockapp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  background-color: #C1E1A6;
  margin-top: -21px;
  width: 100%;
}

#clock {
  color: #585858;
  position: relative;
  left: 30px;
  margin-bottom: 10px;
}

#everything {
  margin-left: 0px;
}

#companyForm {
  padding: 10px;
}

#findSymbol {
  min-width: 50px;
}

.animate-enter, .animate-leave {
  transition: 500ms ease-in all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active, .animate-leave {
  left: 0;
}

.animate-leave.animate-leave-active, .animate-enter {
  left: 500px;
}

h1 {
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
  color: #FF9009;
  padding: 20px 12px 20px 20px;
  position: relative;
  border: 1px solid #D9D9D9;
}

ul {
  list-style-type: none;
}

input[type=text] {
  color: green;
}

#stockList {
  border-bottom: 12px;
}

#delete {
  background-color: red;
}

#tabContent {
  border: solid blue;
  padding: 12px;
}

#tabs {
  display: inline;
  padding: 0px 10px 0px 10px;
  border: 1px solid #D9D9D9;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#alltabs {
  margin-bottom: 0px;
  margin-left: 0px;
}

#mainView {
  border: 1px solid #D9D9D9;
  clear: both;
  margin-top: 0px;
  padding-top: 0px;
}

.active {
  background-color: #C1E1A6;
  color: #000;
}

p {
  border: 1px solid #D9D9D9;
  padding: 12px;
}
